.formWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
}

.input {
  width: 100%;
  padding: 15px;
  border: 1px solid #a4a4a4;
  font-size: 15px;
}

.button {
  width: 100%;
  padding: 15px;
  background-color: #b5b5b5;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  border: solid 1px #cecdcd;
}

h1 {
  color: #727070;
}
